*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .aydadiv{
    width: 1140px; 
     margin: 0 auto; 
} */
.trend{
    background-color: orangered;
    height: 60px;
}
ul, li{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 5px;
}
.trendyol{
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 500;
    font-size: 40px;
    position: absolute;
}
.divinput{
    display: flex;
}
.input{
    margin-top: 20px;
    margin-left: 300px;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid aliceblue;
    background-color: aliceblue;
    font-size: 12px;
}
.axtar{
    margin-top: 30px;
    width: 20px;
    height: 20px;
}
.ul1{
    margin-left: 40px;
    margin-top: 30px;
}
a{
    color: black;
    margin-left: 40px;
}
.ul2{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 23px;
    font-weight: 400;
    justify-content: space-evenly;
}
.li4, .li5, .li6, .li7, .li8, .li9, .li10, .li11, .li12{
    font-weight: 700;
}
hr{
    margin-top: 10px;
    color: aliceblue;
}
.yuxu{
    display: flex;
    width: 100%;
}
.blok1{
    margin-left: 70px;
    margin-top: 20px;
    width: 30%;
    height: 123px;
    background-color: green;
    background-image: url("./sekil1.webp");
}
.blok2{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-color: gray;
    width: 30%;
    height: 123px;
    background-image: url("./sekil2.webp");
}
.blok3{
    margin-right: 30px;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-color: gray;
    width: 30%;
    height: 123px;
    background-image: url("./sekil3.webp");
}
.li13{
    display: block;
    padding-top: 60px;
    padding-right: 1300px;
}
.blok4{
    display: block;
    width: 66px;
    height: 66px;
    background-color: transparent;
    background-image: url("./sekil4.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    position: relative;
}


.bloks{
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: black;
    top: 70px;
    left: 5px;
    font-weight: 300;
}
.blok5{
    display: block;
    width: 66px;
    height: 66px;
    background-color: transparent;
    background-image: url("./En_Cok_Satanlar_202302142041.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    position: relative;
}
.bloka{
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: black;
    top: 70px;
    left: 5px;
    font-weight: 300;
}
.li14{
    position: absolute;
    display: block;
    padding-top: 60px;
   margin-right: 1200px;
}
.li15{
    position: absolute;
    display: block;
    padding-top: 60px;
   margin-right: 1100px;
}
.blok6{
    display: block;
    width: 66px;
    height: 66px;
    background-color: transparent;
    background-image: url("./En_Cok_Satanlar_202302142041.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    position: relative;
}
.blokk{
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: black;
    top: 70px;
    left: 5px;
    font-weight: 300;
}